#popup-wrapper{
    display:none;
}
#wrapper{
    width:100%;
    height:100%;
    padding:10px 0;
}
#content-wrapper{
    width:960px;
    height:100%;
    margin:0 auto;
    background:#fff;
    border-radius:4px;
}

/* HEADER */

#header-section{
    width:100%;
    height:80px;
    padding:22px 20px;
    background:#15c2d2;
}
#header-section .header-title{
    float:left;
    width:134px;
    height:16px;
    margin-top:10px;
    text-indent:-9999px;
    background:url("/media/res/img_logo.png") left top no-repeat;
}
#header-section .header-auth-user{
    display:none;
    float:right;
}
#header-section .header-auth-user button{
    display:inline-block;
    height:36px;
    font-size:15px;
    float:left;
    border-radius:2px;
    margin-left:8px;
    cursor:pointer;
    outline:none;
}
#header-section .header-auth-user .user-menu-button{
    padding:1px 34px 0px 12px;
    background:#12a5b2 url("/media/res/img_umenu_down.png") right 50% no-repeat;
    text-transform:capitalize;
    color:#fff;
    border:1px solid #0e98a4;
}
#header-section .header-auth-user .user-menu-button:hover{
    background-color:#0c9aa7;
}
#header-section .header-auth-user .user-menu-button.clicked{
    background-image:url("/media/res/img_umenu_up.png");
}
#header-section .header-auth-user .file-upload-button{
    padding:1px 12px 0px 12px;
    background:#e94e1b;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #bf3d12;
}
#header-section .header-auth-user .file-upload-button:hover{
    background-color:#db420f;
}
#header-section .header-login{
    float:right;
    display:none;
}
#header-section .header-login button{
    display:inline-block;
    height:36px;
    padding:1px 12px 0px 12px;
    font-size:15px;
    color:#fff;
    text-transform:uppercase;
    border-radius:2px;
    outline:none;
    border:1px solid #0e98a4;
    cursor:pointer;
    background:#12a5b2;
}
#header-section .header-login button:hover{
    background:#0a7882;
}

/* QUICKPATH SECTION */

#quickpath-section{
    width:100%;
    height:40px;
    padding:0 20px;
    background:#2e3334;
}
#quickpath-section a{
    display:inline-block;
    padding-right:16px;
    margin-top:11px;
    margin-right:12px;
    font-size:16px;
    color:#d2dcdd;
    text-transform:capitalize;
    background:url("/media/res/img_quickpath.png") right 50% no-repeat;
}
#quickpath-section a:hover{
    text-decoration:underline;
}
#quickpath-section .quickpath-list{
    display:inline-block;
    float:left;
    overflow:visible;
}
#quickpath-section .path{
    display:inline-block;
    float:left;
}
#quickpath-section .quickpath{
    display:inline-block;
    float:left;
}
#quickpath-section span{
    display:inline-block;
    float:right;
    margin-top:11px;
    font-size:16px;
    color:#7d8385;
}

/* LIST NAV SECTION */

#list-nav-section{
    width:100%;
    height:80px;
    padding:0 20px;
    border-bottom:1px solid #f0f2f3;
}
#list-nav-section .list-title{
    display:inline-block;
    margin-top:24px;
    margin-left:-3px;
    color:#b1bebf;
    font-size:30px;
    font-weight:400;
    text-transform:capitalize;
}
#list-nav-section .list-title span{
    display:inline;
    color:#00acbc;
    font-size:30px;
    font-weight:400;
    text-transform:capitalize;
}

/* LIST SECTION */

#list-section{
    width:100%;
}
#list-section td, th{
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* LIST SECTION - LIST_HEAD */

#list-section thead{
    width:100%;
    height:50px;
    border-bottom:2px solid #f0f2f3;
}
#list-section thead .list-head{
    width:100%;
    height:100%;
    padding:0 20px;
}
#list-section thead .list-head button{
    margin-top:15px;
    padding-right:16px;
    font-size:16px;
    color:#73797a;
    border:none;
    outline:none;
    cursor:pointer;
    background:transparent url("/media/res/img_sort_none.png") right 50% no-repeat;
}
#list-section thead .list-head button:hover{
    color:#e94e1b;
    text-decoration:underline;
}
#list-section thead .list-head button.sort-down{
    color:#e94e1b;
    background:url("/media/res/img_sort_down.png") right 50%  no-repeat;
}
#list-section thead .list-head button.sort-up{
    color:#e94e1b;
    background:url("/media/res/img_sort_up.png") right 50% no-repeat;
}
#list-section thead .list-head th{
    margin-right:30px;
}
#list-section thead .list-head .head-name{
    width:480px;
}
#list-section thead .list-head .head-format{
    width:90px;
}
#list-section thead .list-head .head-uploader{
    width:140px;
}
#list-section thead .list-head .head-date{
    width:120px;
    margin-right:0;
}

/* LIST SECTION - LIST_BODY */

#list-section tbody{
    width:100%;
    height:auto;
    display:block;
    overflow-x:hidden;
    overflow-y:auto;
}
#list-section tbody tr{
    width:100%;
    height:50px;
    border-bottom:1px solid #f0f2f3;
    padding:0 20px;
    cursor:pointer;
}
#list-section tbody .list-body-dir:hover{
    background:#d9f4f6;
}
#list-section tbody .list-body-file:hover{
    background:#f6f6f6;
}
#list-section tbody .list-body-back:hover{
    background:#fff5e5;
}
#list-section tbody .list-body-back{
    background:#fff9f0;
}
#list-section tbody .list-body-back span{
    display:inline;
    text-transform:capitalize;
    color:#e78b00;
}
#list-section tbody .list-body-back>td{
    float:right;
}
#list-section tbody .list-body-back .body-back{
    float:left;
    display:inline-block;
    padding-right:20px;
    background:url("/media/res/img_go_back.png") right 50% no-repeat;
}
#list-section tbody .list-body-dir{
    background:#f2feff;
}
#list-section tbody .list-body-file{
    background:#fff;
}
#list-section tbody tr td{
    margin-right:30px;
    color:#73797a;
    font-size:16px;
    margin-top:16px;
}
#list-section tbody tr .body-name{
    width:480px;
    color:#454b4c;
    font-size:17px;
    margin-top:16px;
}
#list-section tbody tr .body-format{
    width:90px;
}
#list-section tbody tr .body-uploader{
    width:140px;
}
#list-section tbody tr .body-date{
    width:120px;
    margin-right:0;
}
#list-section tbody tr.list-body-file .body-date{
    font-size:15px;
    margin-top:18px;
}
#list-section td.secured{
    background:url("/media/res/img_secured.png") right 50% no-repeat;
}
#list-section tbody .list-body-nothing{
    width:100%;
    height:50px;
    border-bottom:1px solid #f0f2f3;
    padding:0 20px;
    background:#fafafa;
    cursor:auto;
}
#list-section tbody .list-body-nothing:hover{
    background:#fafafa;
}
#list-section tbody .list-body-nothing .body-nothing{
    color:#a0a1a3;
}
