{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/list.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/popup.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/olim.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        Data.this_dir = "{{this_dir}}";
        Data.is_auth = "{{user.is_authenticated}}";

        Filesys.initialize();
        Popup.initialize();
        Session.initialize();
    });
</script>
{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="wrapper-popup">
        <div id="popup-range">
            <section id="popup-login">
                <h2 class="popup-title">
                    <span>LOG IN</span>
                    <button class="popup-close" type="button">Close Popup</button>
                </h2>
                <form class="popup-login-form" action="javascript:;">
                    {% csrf_token %}
                    <div class="input-username">
                        <label class="login-form-label" for="username">SPARCS ID</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="input-password">
                        <label class="login-form-label" for="password">PASSWORD</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div class="input-enter">
                        <button type="submit" id="submit">ENTER</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div id="wrapper-content">
        <header id="content-header">
            <h1 class="content-title">OLIM SERVICE</h1>
            <div class="auth-user">
                <button class="user-menu">{{user.username}}</button>
                <button class="file-upload">Upload</button>
            </div>
            <div class="user-menu-list">
                <div class="menu-deco"></div>
                <ul class="menu-list">
                    <li class="logout">
                        <span class="logout-loading"></span>
                        <button class="logout-button">Logout</button>
                    </li>
                    <li class="profile">
                        <button class="profile-button">Profile</button>
                    </li>
                </ul>
            </div>
            <button type="button" class="login">Log in</button>
        </header>
        <nav id="content-quickpath">
            <ul class="quickpath">
                {% for item in url_list %}
                <li class="path">
                    <a href="{{item.dir_url}}">{{item.dir}}</a>
                </li>
                {% endfor %}
            </ul>
            <span>Quick Path</span>
        </nav>
        <section id="content-list-nav">
            <h2 class="list-title"><span>{{this_dir}}</span> Directory</h2>
            <!-- SEARCH FUNCTION WILL BE PLACED HERE -->
        </section>
        <section id="content-list">
            <table>
                <thead>
                    <tr class="list-head">
                        <th class="head-name">
                            <button type="button" class="sort-down">Name</button>
                        </th>
                        <th class="head-format">
                            <button type="button">Format</button>
                        </th>
                        <th class="head-uploader">
                            <button type="button">Uploader</button>
                        </th>
                        <th class="head-date">
                            <button type="button">Last modified</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- For back to parent dir -->
                    {% if is_child_dir %}
                    <tr class="list-body-back" OnClick="location.replace('{{parent_dir.dir_url}}')">
                        <td class="body-back">
                            Back to <span>{{parent_dir.dir}}</span> directory
                        </td>
                        <td class="body-format">-</td>
                        <td class="body-uploader">-</td>
                        <td class="body-date">-</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %}
